.loader{
    color:white;
}
body{
    margin: 0;
    /* https://www.fredhutch.org/en/news/center-news/2020/03/covid19---social-distancing--in-seattle-and-beyond.html */
    background-color: rgb(16, 24, 71);;
    background-blend-mode: lighten;
}