* {
    margin: 0;
    padding: 0;
}

#listSection {
    flex-direction: column;
    position: absolute;
    padding:1em;
    background-color:#e5e5a0;
    box-shadow:grey 0.25em 0.25em;
    font-family:Arial, Helvetica, sans-serif;
    z-index: 1;
}
@font-face{
    src:url(../fonts/EUROSTIB.ttf);
    font-family: eurostilebold;
}
button{
    position: absolute;
    left: 20%;
    top: 45%;
    font-family: eurostilebold;
    font-size: 16pt;
    padding: 8pt;
    background: white;
    border: 2px outset rgb(16, 24, 71);
    color: rgb(16, 24, 71);
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    button{

        left: 45%;

    }
    #control-btn{
        top: 5%;

    }
    #controls{
        display:none;
        left: 40%;
        top: 30%;
        position: absolute;
    }

}