* {
    margin: 0;
    padding: 0;
}

    #listSection {
        flex-direction: column;
        position: absolute;
        padding:1em;
        background-color:#e5e5a0;
        box-shadow:grey 0.25em 0.25em;
        font-family:Arial, Helvetica, sans-serif;
        z-index: 1;
    }
@font-face{
    src:url(../fonts/EUROSTIB.ttf);
    font-family: eurostilebold;
}
button{
    position: absolute;
    left: 45%;
    top: 50%;
    font-family: eurostilebold;
    font-size: 16pt;
    padding:15pt;
    border: 2px outset lightgray;
}